.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  background: var(--token-dzXZ6pAO5);
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  background: none;
  max-width: 1268px;
  align-self: center;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 92px 24px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qdQal {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__nAR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__nAR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__nAR > :global(.__wab_flex-container) > *,
.freeBox__nAR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nAR > :global(.__wab_flex-container) > picture > img,
.freeBox__nAR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.h3__dHciN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h7e6qpqlEzb2);
  min-width: 0;
}
.text__hpuq5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: var(--token-h7e6qpqlEzb2);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hpuq5 {
    text-align: left;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    padding-bottom: 25px;
    color: var(--token-h7e6qpqlEzb2);
    font-weight: 300;
    line-height: 1.7;
    min-width: 0;
  }
}
.freeBox__p2Jgg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__p2Jgg > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__p2Jgg > :global(.__wab_flex-container) > *,
.freeBox__p2Jgg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p2Jgg > :global(.__wab_flex-container) > picture > img,
.freeBox__p2Jgg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__ylwsw {
  color: var(--token-h7e6qpqlEzb2);
}
.freeBox__acWjE {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__acWjE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__acWjE > :global(.__wab_flex-container) > *,
.freeBox__acWjE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__acWjE > :global(.__wab_flex-container) > picture > img,
.freeBox__acWjE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.link__u9UAk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__qzQfF {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-h7e6qpqlEzb2);
  flex-shrink: 0;
}
.link__ihu3M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__vu5Hw {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-h7e6qpqlEzb2);
  flex-shrink: 0;
}
.link__ayWj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__z5ZvC {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-h7e6qpqlEzb2);
  flex-shrink: 0;
}
.column__cmbef {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ch65P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ch65P > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ch65P > :global(.__wab_flex-container) > *,
.freeBox__ch65P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ch65P > :global(.__wab_flex-container) > picture > img,
.freeBox__ch65P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h3__h3K8V {
  position: relative;
  color: var(--token-h7e6qpqlEzb2);
}
.freeBox__nq57I {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__nq57I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nq57I > :global(.__wab_flex-container) > *,
.freeBox__nq57I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nq57I > :global(.__wab_flex-container) > picture > img,
.freeBox__nq57I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.link__gEw7F {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__gEw7F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__gEw7F > :global(.__wab_flex-container) > *,
.link__gEw7F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__gEw7F > :global(.__wab_flex-container) > picture > img,
.link__gEw7F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__thqUd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__r0GG {
  height: auto;
  font-weight: 400;
  color: var(--token-h7e6qpqlEzb2);
  font-size: 18px;
  line-height: 26px;
}
.svg___6WrkI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__gbd7U {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__gbd7U > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__gbd7U > :global(.__wab_flex-container) > *,
.link__gbd7U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__gbd7U > :global(.__wab_flex-container) > picture > img,
.link__gbd7U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___11Ny1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__kQw {
  height: auto;
  font-weight: 400;
  color: var(--token-h7e6qpqlEzb2);
  font-size: 18px;
  line-height: 26px;
}
.svg___4Ui1B {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.column__x9XyC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__uRyVt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__uRyVt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__uRyVt > :global(.__wab_flex-container) > *,
.freeBox__uRyVt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uRyVt > :global(.__wab_flex-container) > picture > img,
.freeBox__uRyVt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h3__iuRro {
  position: relative;
  color: var(--token-h7e6qpqlEzb2);
}
.freeBox__irCh {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__irCh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__irCh > :global(.__wab_flex-container) > *,
.freeBox__irCh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__irCh > :global(.__wab_flex-container) > picture > img,
.freeBox__irCh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.link___0FGcI {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link___0FGcI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___0FGcI > :global(.__wab_flex-container) > *,
.link___0FGcI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___0FGcI > :global(.__wab_flex-container) > picture > img,
.link___0FGcI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__z3QzB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__qr3X {
  height: auto;
  font-weight: 400;
  color: var(--token-h7e6qpqlEzb2);
  font-size: 18px;
  line-height: 26px;
}
.svg__bZred {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__ekr9R {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__ekr9R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ekr9R > :global(.__wab_flex-container) > *,
.link__ekr9R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ekr9R > :global(.__wab_flex-container) > picture > img,
.link__ekr9R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___0Ls4Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__xDjXy {
  height: auto;
  font-weight: 400;
  color: var(--token-h7e6qpqlEzb2);
  font-size: 18px;
  line-height: 26px;
}
.svg__ry4OL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__tNyZj {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  align-self: center;
  background: #0505052b;
  min-width: 0;
  padding: 32px 16px;
}
.freeBox__tNyZj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tNyZj > :global(.__wab_flex-container) > *,
.freeBox__tNyZj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tNyZj > :global(.__wab_flex-container) > picture > img,
.freeBox__tNyZj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__vJvu0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vJvu0 {
    display: flex;
    flex-direction: column;
  }
}
.text__rjz2H {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
