.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100vw;
}
.freeBox__sZxXw {
  display: flex;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 128px;
  background: url("./images/tableBanner.jpg") 0% 0% / cover;
  min-height: 0;
}
.freeBox__xsXzm {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 33%;
  opacity: 0.95;
  background: var(--token-QQdIvJFj1);
  min-height: 0;
}
.freeBox__got9Y {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox___07IMc {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  min-width: 0;
  padding: 32px 24px;
}
.freeBox___07IMc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___07IMc > :global(.__wab_flex-container) > *,
.freeBox___07IMc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___07IMc > :global(.__wab_flex-container) > picture > img,
.freeBox___07IMc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__f2VW {
  position: relative;
  color: var(--token-h7e6qpqlEzb2);
  font-size: 24px;
  font-weight: 700;
}
.text__rAhj {
  position: relative;
  color: var(--token-h7e6qpqlEzb2);
}
.freeBox__p42Ds {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__hpwbu {
  color: var(--token-h7e6qpqlEzb2);
  font-size: 14px;
}
.text__n6DCm {
  position: relative;
  color: var(--token-BAy3JxpX0kbW);
}
.freeBox__i1HEa {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__i1HEa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__i1HEa > :global(.__wab_flex-container) > *,
.freeBox__i1HEa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1HEa > :global(.__wab_flex-container) > picture > img,
.freeBox__i1HEa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.linkButton:global(.__wab_instance) {
  position: relative;
}
