.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__nTu9 {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  min-width: 0;
  padding: 10px 0px 14px;
}
.freeBox__nTu9 > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__nTu9 > :global(.__wab_flex-container) > *,
.freeBox__nTu9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nTu9 > :global(.__wab_flex-container) > picture > img,
.freeBox__nTu9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nTu9 {
    padding: 16px 25px 16px 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.menuButtonexpanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButtonexpanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link___9Bo40 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  width: 100%;
  margin-right: 0px;
  max-width: 92px;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text__pvVj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-NEon4Y--Z);
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  min-width: 0;
}
.freeBox__vjzGh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vjzGh {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxexpanded__vjzGhesxEf {
    display: none;
  }
}
.linkButton__ttAn0:global(.__wab_instance) {
  position: relative;
  margin: 0px;
}
.text__d0Ed2 {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
  padding: 0px;
  margin: 0px;
}
.linkButton__zTq0:global(.__wab_instance) {
  position: relative;
  margin: 0px;
}
.text__w7UIi {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
  padding: 0px;
  margin: 0px;
}
.linkButton__dNWza:global(.__wab_instance) {
  position: relative;
  margin: 0px 12px;
}
.text__g1EiR {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
  padding: 0px;
  margin: 0px;
}
.linkButton__bZyO:global(.__wab_instance) {
  position: relative;
  margin: 0px;
}
.text__kO89L {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
  padding: 0px;
  margin: 0px;
}
.linkButton__zmgey:global(.__wab_instance) {
  position: relative;
  margin: 0px;
}
.text___3ZkB {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
  padding: 0px;
  margin: 0px;
}
.freeBox__cESvV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 34px;
  padding: 0px;
}
.link__xq5HS {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 6px 14px;
  border: 1px solid #8000ff;
}
.text__pkhSt {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #8000ff;
  font-weight: 400;
  text-transform: uppercase;
  width: auto;
}
.freeBox___9Gakd {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton__gE4Yd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__uW7N:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__dx9BM:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___2TqpG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__uAv75:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
