.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox___9FffC {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  padding: 0px;
}
.freeBox___2Hd3K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: none;
}
.freeBox___2Hd3K > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox___2Hd3K > :global(.__wab_flex-container) > *,
.freeBox___2Hd3K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Hd3K > :global(.__wab_flex-container) > picture > img,
.freeBox___2Hd3K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox___7B3Le {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.freeBox___0XPX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  background: url("./images/image11.png") top 0% left 50% / contain no-repeat,
    var(--token-BAy3JxpX0kbW);
  overflow: hidden;
  align-self: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  min-height: 0;
  padding: 113px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0XPX {
    padding-top: 105px;
  }
}
.freeBox__jUj8X {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1380px;
  align-self: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.freeBox__dHhDs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 650px;
  min-width: 0;
  padding: 4px 8px 8px;
}
.freeBox__dHhDs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__dHhDs > :global(.__wab_flex-container) > *,
.freeBox__dHhDs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dHhDs > :global(.__wab_flex-container) > picture > img,
.freeBox__dHhDs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dHhDs {
    padding-top: 0px;
  }
}
.freeBox__eDqhr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 471px;
  text-align: center;
  min-width: 0;
  padding: 1px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    width: auto;
    font-size: 40px;
    padding: 0px;
  }
}
.freeBox__amIe2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__vJcXi {
  width: 100%;
  height: auto;
  max-width: 530px;
  padding-bottom: 0px;
  color: var(--token-I2K9u7h1B6k9);
  text-align: center;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vJcXi {
    text-align: left;
    padding-bottom: 13px;
    padding-top: 5px;
  }
}
.button___8WaLj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qvEuG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rnnPj {
  text-transform: uppercase;
}
.svg__mEBik {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.img__ry2IP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 900px;
  width: 100%;
  object-position: 50% 0%;
  min-width: 0;
}
.img__ry2IP > picture > img {
  object-fit: cover;
  object-position: 50% 0%;
}
.freeBox__smhe {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-jp3bFImDyMI3);
}
.freeBox__smhe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__smhe > :global(.__wab_flex-container) > *,
.freeBox__smhe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__smhe > :global(.__wab_flex-container) > picture > img,
.freeBox__smhe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.freeBox__dbGAo {
  position: relative;
  object-fit: cover;
  max-width: none;
  background: url("./images/ecaa1A9F59E04714Aca4D68090E95Ef2FuelBgPngPng.png") top 50% left 50% / cover no-repeat;
  width: 107.5%;
}
.freeBox___9CiGn {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  padding: 8px;
}
.freeBox__a0YvT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f1d1e4;
  min-width: 0;
  padding: 100px 8px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 471px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    width: auto;
    font-size: 40px;
    padding: 0px;
  }
}
.text__dgmp8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-I2K9u7h1B6k9);
  font-size: 20px;
  margin-top: 18px;
  min-width: 0;
}
.freeBox__rlsyE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#ffffff, #ffffff), #feb392;
  min-width: 0;
  padding: 0px;
}
.columns {
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  --plsmc-rc-col-gap: 0px;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__yoKZy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: var(--token-BAy3JxpX0kbW);
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__a5UrN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.img__cgMXv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.img__cgMXv > picture > img {
  object-fit: cover;
}
.freeBox___2FYfW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px;
}
.h3__dcze2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__dcze2 {
    text-align: center;
  }
}
.text__xitOd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xitOd {
    text-align: center;
  }
}
.button__ezub:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___02Snk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__pwA4 {
  text-transform: uppercase;
}
.svg__dAoJy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__hyvc5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: #baecff;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__cjHz7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.img__zroxy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.img__zroxy > picture > img {
  object-fit: cover;
}
.freeBox__vfTca {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px;
}
.h3__eVmEj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__eVmEj {
    text-align: center;
  }
}
.text__u1Kv2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u1Kv2 {
    text-align: center;
  }
}
.button__jwNor:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yB8Ri {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__an82O {
  text-transform: uppercase;
}
.svg__rMv0G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__dYf1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: #c9f2c4;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__oFFpr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.img__ubTaj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.img__ubTaj > picture > img {
  object-fit: cover;
}
.freeBox__ng20B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px;
}
.h3__mV8E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__mV8E {
    text-align: center;
  }
}
.text__ssE28 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ssE28 {
    text-align: center;
  }
}
.button__yL1X:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ovfOt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wA3Vd {
  text-transform: uppercase;
}
.svg__kRvBj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__i3B02 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: #fdcfbf;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox___6QSzl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.img__bPn3R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 158px;
}
.img__bPn3R > picture > img {
  object-fit: cover;
}
.freeBox__jNlgM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px;
}
.h3__yo3Ze {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__yo3Ze {
    text-align: center;
  }
}
.text__d5SQj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__d5SQj {
    text-align: center;
  }
}
.button__nuZKp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__g2Fy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__exHvv {
  text-transform: uppercase;
}
.svg__eTzjf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__u8Jyh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___6MpnD {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #b367bf;
  width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 103px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6MpnD {
    width: 100%;
    min-width: 0;
    padding: 61px 32px 64px;
  }
}
.freeBox__nd5KF {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1080px;
}
.freeBox__nd5KF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__nd5KF > :global(.__wab_flex-container) > *,
.freeBox__nd5KF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nd5KF > :global(.__wab_flex-container) > picture > img,
.freeBox__nd5KF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nd5KF {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nd5KF > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nd5KF > :global(.__wab_flex-container) > *,
  .freeBox__nd5KF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nd5KF > :global(.__wab_flex-container) > picture > img,
  .freeBox__nd5KF
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__lAMx1 {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 0px;
  padding: 24px;
}
.freeBox__lAMx1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lAMx1 > :global(.__wab_flex-container) > *,
.freeBox__lAMx1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lAMx1 > :global(.__wab_flex-container) > picture > img,
.freeBox__lAMx1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__mk0Pn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__mk0Pn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mk0Pn > :global(.__wab_flex-container) > *,
.freeBox__mk0Pn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mk0Pn > :global(.__wab_flex-container) > picture > img,
.freeBox__mk0Pn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___0L9Xy {
  color: var(--token-h7e6qpqlEzb2);
  font-style: italic;
}
.freeBox___5GzGr {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___5GzGr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox___5GzGr > :global(.__wab_flex-container) > *,
.freeBox___5GzGr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5GzGr > :global(.__wab_flex-container) > picture > img,
.freeBox___5GzGr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__tcqXe {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__zBGqh {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__jNxAl {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__mIMpO {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__at1F9 {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.text___8F2Dh {
  color: var(--token-h7e6qpqlEzb2);
  font-weight: 700;
}
.freeBox__xyL9Z {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 0px;
  padding: 24px;
}
.freeBox__xyL9Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xyL9Z > :global(.__wab_flex-container) > *,
.freeBox__xyL9Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xyL9Z > :global(.__wab_flex-container) > picture > img,
.freeBox__xyL9Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___2RYLj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___2RYLj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___2RYLj > :global(.__wab_flex-container) > *,
.freeBox___2RYLj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2RYLj > :global(.__wab_flex-container) > picture > img,
.freeBox___2RYLj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__mj9Hz {
  color: var(--token-h7e6qpqlEzb2);
  font-style: italic;
}
.freeBox__aGzuY {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__aGzuY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__aGzuY > :global(.__wab_flex-container) > *,
.freeBox__aGzuY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aGzuY > :global(.__wab_flex-container) > picture > img,
.freeBox__aGzuY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg___1Zpb9 {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__w59DA {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__ekhUn {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__iqh43 {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__gfca3 {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.text__dh4Mf {
  color: var(--token-h7e6qpqlEzb2);
  font-weight: 700;
}
.footer:global(.__wab_instance) {
  position: relative;
}
